@import "master";

table {
  border-collapse: collapse;
  text-align: left;

  thead {
    background-color: $primary-color;
  }

  th, td {
    border: 1px solid grey;
    padding: 5px;
  }

  tbody tr:nth-of-type(even) {
    background-color: lighten($primary-color, 20%);
  }
}

